@font-face {
  font-family: "Antarctica Var Web";
  font-style: normal;
  src: url("../fonts/Antarctica-VF.woff2") format("woff2 supports variations"), url("../fonts/Antarctica-VF.woff2") format("woff2-variations");
  font-display: swap;
}

:root {
  --global-easeOut: cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
  --global-easeIn: cubic-bezier(0.47, 0, 0.76, 1);
  /* easeInQuint */
  --global-easeInOut: cubic-bezier(0.86, 0, 0.07, 1);
  /* easeInOutQuint */

  --global-backgroundColor: #f7d0d2;
  --global-textColor: #4ea672;

  --whitespace: calc(1rem + 2vw);
  --whitespace: calc(1rem + 1vw);

  --global-duration-1: 0.2s;
  --global-duration-2: 0.4s;
  --global-duration-3: 0.8s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

::selection {
  background: var(--selection-backgroundColor, var(--global-textColor));
  color: var(--selection-textColor, var(--global-backgroundColor));
}

html {
  will-change: color, background-color;
  font-family: "Antarctica Var Web", sans-serif;
  /* font-variation-settings: "wght" 800, "wdth" 15; */
  font-variation-settings: "wght" 750, "wdth" 10;
  text-transform: uppercase;
  color: var(--global-textColor);
  background-color: var(--global-backgroundColor);
  transition: var(--global-duration-2) var(--global-easeInOut);
  transition-property: color, background-color;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 2rem;
  line-height: 1;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

/* body.open-about {
  background-color: var(--global-textColor) !important;
} */

button {
  all: unset;
}

svg {
  display: block;
}

button,
a:any-link {
  display: inline-block;
  outline: revert;
  outline-color: currentColor;
  outline-width: 2px;
  outline-offset: 2px;
  border-radius: 2px;
  color: var(--link-color, var(--global-textColor));
  transition: color var(--global-duration-2) var(--global-easeInOut);
  -webkit-tap-highlight-color: transparent;
}

button:focus-visible,
a:focus-visible {
  outline-style: solid;
}

.hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.loader {
  padding: var(--whitespace);
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  opacity: 0;
  transform: scale(0.5);
  transition: all var(--global-duration-1) var(--global-easeOut);
  transition-property: opacity, transform;
  overflow: hidden;
}

.loader__svg {
  width: 3rem;
}

.loading .loader {
  opacity: 1;
  transform: none;
}

.main {
  padding: var(--whitespace);
  max-width: calc(100vw);
  overflow: hidden;
  grid-row: 1;
  grid-column: 1;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
  z-index: 10;
}

.loading .main {
  pointer-events: none;
  visibility: hidden;
}

.main__header {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  align-self: start;

  /* font-family: "roboto mono", monospace;
  font-size: 1rem;
  line-height: 1.5; */
  /* border-bottom: 1px solid currentColor; */
  /* padding-bottom: calc(var(--whitespace) / 2); */
  /* padding-bottom: var(--whitespace); */
  transition-property: transform, opacity;
  transition-duration: var(--global-duration-1);
  transition-timing-function: var(--global-easeInOut);
  opacity: 1;
  transition-delay: var(--global-duration-1);
}

.loading .main__header {
  transform: translateY(-100%);
  opacity: 0;
}

.main__content {
  max-width: calc(100vw - var(--whitespace) * 2);
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
}

.name {
  --minFontSize: 15rem;
  --maxFontSize: 55rem;
  --scaler: 80vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  font-size: clamp(15rem, 7rem + 40vw, 55rem);
  font-size: clamp(15rem, 5.588rem + 47.06vw, 55rem);
  font-size: clamp(15rem, -3.824rem + 94.12vw, 55rem);
  display: inline-block;
  line-height: 0;
  /* text-transform: uppercase; */
  transition-duration: var(--global-duration-1);
  transition-timing-function: var(--global-easeInOut);
  transition-property: opacity, transform;
}

.loading .name {
  transform: scale(0.875);
  opacity: 0;
}

/* .open-about .name {
  transform: scale(0.875);
} */

.name__char {
  will-change: font-variation-settings;
  font-variation-settings: "wght" 950, "wdth" 1;
  display: inline-block;
  transition: font-variation-settings var(--global-duration-2) var(--global-easeInOut);
  vertical-align: -0.08em;
}

.name__char:nth-child(1) {
  font-variation-settings: "wght" 950, "wdth" 1;
}

.name__char:nth-child(2) {
  font-variation-settings: "wght" 300, "wdth" 1;
}

.name__char:nth-child(3) {
  font-variation-settings: "wght" 950, "wdth" 1;
}

.name__char:nth-child(4) {
  font-variation-settings: "wght" 500, "wdth" 1;
}

.main__nav {
  align-self: end;
  justify-self: end;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--global-duration-1);
  transition-timing-function: var(--global-easeInOut);
  transition-delay: calc(var(--global-duration-1) / 2);
}

.loading .main__nav {
  transform: translateY(100%);
  opacity: 0;
}

.button {
  border-radius: 100%;
  /* background-color: var(--global-textColor);
  color: var(--global-backgroundColor);
  padding: 1rem;
  transition-property: all;
  transition-duration: var(--global-duration-1);
  transition-timing-function: var(--global-easeInOut); */
}

.button__reload-svg {
  transition: transform var(--global-duration-2) var(--global-easeInOut);
  width: 3rem;
  fill: currentColor;
}

.about {
  --selection-backgroundColor: var(--global-backgroundColor);
  --selection-textColor: var(--global-textColor);
  --link-color: var(--global-backgroundColor);
  --about-backgroundColor: var(--global-textColor);
  --about-textColor: var(--global-backgroundColor);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100dvh;
  min-height: 100vh;
  padding: var(--whitespace);
  background-color: var(--about-backgroundColor);
  color: var(--about-textColor);
  grid-template-rows: auto 1fr;
  gap: var(--whitespace);
  display: grid;
  overflow: scroll;
  pointer-events: none;
  /* transition: clip-path var(--global-duration-1) var(--global-easeIn); */
  transition: opacity var(--global-duration-1) var(--global-easeOut);
  z-index: 20;
  opacity: 0;
  /* clip-path: circle(0%); */
}

.open-about-nl .about--nl,
.open-about-en .about--en {
  opacity: 1;
  pointer-events: initial;
  /* transition-delay: var(--global-duration-1); */
  /* clip-path: circle(75%); */
  /* transition-timing-function: var(--global-easeOut); */
  /* transition-duration: var(--global-duration-2); */
}

/* .open-about .app {
  display: none;
} */

.about__header {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* border-bottom: 0.1em solid currentColor; */
  /* padding-bottom: var(--whitespace); */
  /* background-color: var(--about-backgroundColor); */
}

.about__content {
  display: grid;
  /* grid-template-columns: minmax(auto, 32em); */
  justify-content: center;
  align-content: center;
  /* align-content: flex-start; */
  /* text-align: center; */
  text-align: justify;
}

.about__content p {
  max-width: 17em;
  font-size: 5rem;
  --minFontSize: 2rem;
  --maxFontSize: 6rem;
  --scaler: 5.65vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  /* For Safari */
  -webkit-hyphenate-limit-after: 4;
  /* For Safari */
  -ms-hyphenate-limit-chars: 10 3 4;
  hyphenate-limit-chars: 10 3 4;
}

.about__content strong,
.about__content a {
  font-variation-settings: "wght" 950, "wdth" 30;
}


.about__content>*+* {
  margin-top: var(--whitespace);
}

.about__arrow {
  display: inline-block;
  fill: currentColor;
  --minFontSize: 1.55rem;
  --maxFontSize: 4.5rem;
  --scaler: 4.3vw;
  width: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  height: auto;
}

.loading .about {
  visibility: hidden;
}

.desktop-only {
  display: none;
}

@media (pointer: fine) {
  .desktop-only {
    display: unset;
  }
}